[Unit]
Description="OpenIPC Server"
StartLimitIntervalSec=10
StartLimitBurst=0

[Service]
Type=simple
ExecStart=bash /config/scripts/stream.sh
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
