[Unit]
Description="start ap mode service"
After=multi-user.target
StartLimitIntervalSec=10
StartLimitBurst=0

[Service]
Type=simple
ExecStart=bash /config/scripts/start_ap_mode.sh

[Install]
WantedBy=multi-user.target
