[Unit]
Description="OpenIPC Server"
After=multi-user.target
StartLimitIntervalSec=10
StartLimitBurst=0

[Service]
Type=simple
ExecStart=sudo python3 /config/webUI/app.py
Restart=always
RestartSec=3s

[Install]
WantedBy=multi-user.target
